.menu {
    display: flex;
    gap: 20px;
    font-weight: 700;
    p {
        opacity: 0.3;
    }
    span {
        opacity: 0.3;
    }
    .menunegative {
        opacity: 0.7;
    }
}

.productwrapper {
    display: flex;
    gap: 40px;
    width: 100%;
    .productleft {
        flex: 1;
        display: flex;

        gap: 20px;

        .productimg {
            flex: 1;
            .imgproduct {
                width: 100%;
                height: 100px;
                margin-bottom: 10px;
                cursor: pointer;
                object-fit: cover;
            }
        }
        .productmainimg {
            flex: 5;

            .mainimgproduct {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
        }
    }
    .productright {
        flex: 1;

        h1 {
            font-size: 26px;
            font-weight: 700;
        }

        .productprices {
            display: flex;
            margin-top: 10px;
            gap: 5px;
            .productorignalprice {
                font-size: 26px;
                font-weight: 700;
            }
            .productcurrentprice {
                font-size: 16px;
                font-weight: 500;
                opacity: 0.7;
                text-decoration: line-through;
            }
        }
        .productdesc {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            p {
                font-size: 18px;
                opacity: 0.9;
                font-weight: 500;
                text-decoration: underline;
            }
            span {
                font-size: 14px;
                opacity: 0.7;
                font-weight: 500;
                padding-top: 10px;
            }
        }

        .aboutproduct {
            margin-top: 10px;
            .abouttitleprod {
                font-size: 18px;
                opacity: 0.9;
                font-weight: 500;
                text-decoration: underline;
            }
            .aboutitem {
                display: flex;
                gap: 20px;
                margin-top: 10px;

                span {
                    font-weight: 500;
                    opacity: 0.6;
                }
                p {
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
        .quantitybtn {
            display: flex;
            margin-top: 20px;
            gap: 20px;
            .qualityadjust {
                padding: 10px 15px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 20px;
                opacity: 0.9;
                .quantityicon {
                    font-size: 16px;
                    cursor: pointer;
                }
            }

            button {
                padding: 15px 50px;
                background: #000;
                border-radius: 10px;
                color: white;
                opacity: 0.9;
                font-weight: 400;
            }
        }
    }
}

.relatedproductsbig {
    margin-top: 100px;
}
.relatedproductstab {
    margin-top: 100px;
    display: none;
}

@media (max-width: 768px) {
    .menu {
        font-size: 14px;
    }

    .productwrapper {
        flex-direction: column;
        .productleft {
            flex-direction: column-reverse;
            .productimg {
                display: flex;
                gap: 20px;
                .imgproduct {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    object-fit: cover;
                }
            }
        }

        .productright {
            h1 {
                font-size: 22px;
            }
            .productprices {
                .productorignalprice {
                    font-size: 20px;
                }
                .productcurrentprice {
                    font-size: 14px;
                }
            }
            .productdesc {
                p {
                    font-size: 16px;
                }
                span {
                    font-size: 12px;
                }
            }
            .aboutproduct {
                .abouttitleprod {
                    font-size: 16px;
                }
                .aboutitem {
                    span {
                        font-size: 14px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
            .quantitybtn {
                margin-top: 30px;
                button {
                    padding: 10px 30px;
                    font-size: 12px;
                }
            }
        }
    }
    .relatedproductstab {
        display: block;
    }
    .relatedproductsbig {
        display: none;
    }
}
