.cartwrapper {
    display: flex;
    align-items: start;
    gap: 40px;
    margin-bottom: 200px;

    .cartpageleft {
        flex: 2;
        width: 100%;
    }
    .cartpageright {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .cartchecktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cartcheckleft {
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: 20px;
                font-weight: 400;
                opacity: 0.4;
            }
            .cartcheckright {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: end;
                .cartsubtotal {
                    font-size: 21px;
                    font-weight: 600;
                    opacity: 0.8;
                }

                .cartdiscount {
                    font-size: 20px;
                    font-weight: 600;
                    opacity: 0.4;
                }
            }
        }
        .checkline {
            width: 100%;
            border: 1px dotted rgba(0, 0, 0, 0.1);
        }
        .cartcheckbottom {
            .checktotal {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .cartgrandtotal {
                    font-size: 22px;
                    font-weight: 400;
                    opacity: 0.8;
                }
                .checkgrandtotal {
                    align-items: end;
                    font-size: 24px;
                    font-weight: 500;
                    opacity: 0.9;
                }
            }
            .checkoutbtn {
                padding: 12px;
                border: none;
                outline: none;
                border-radius: 5px;
                width: 100%;
                background: #212831;
                color: white;
                font-size: 18px;
                font-weight: 400;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .cartwrapper {
        margin-bottom: 100px;
        flex-direction: column;
        .cartpageright {
            .cartchecktop {
                .cartcheckleft {
                    font-size: 16px;
                }
                .cartcheckright {
                    .cartsubtotal {
                        font-size: 18px;
                    }
                    .cartdiscount {
                        font-size: 16px;
                    }
                }
            }
            .cartcheckbottom {
                .checktotal {
                    .cartgrandtotal {
                        font-size: 18px;
                    }
                    .checkgrandtotal {
                        font-size: 20px;
                    }
                }
                .checkoutbtn {
                    font-size: 16px;
                }
            }
        }
    }
}
