.products {
    .swiper-pagination .swiper-pagination-bullet {
        opacity: 1;
        background-color: #212831;
        width: 70px;
        height: 5px;
        border-radius: 10px;
    }

    .swiper-pagination {
        // bottom: -100px;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
        background-color: rgb(184, 184, 184);
        width: 75px;
        height: 7px;
        border-radius: 10px;
    }

    margin-top: 40px;
    padding: 0 5px;
    position: relative;
    .sliderthing {
        height: 650px;
    }
    .product {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .top {
            position: relative;

            img {
                width: 400px;
                height: 400px;
                object-fit: cover;
                border-radius: 10px;
            }

            p {
                position: absolute;
                top: 15px;
                left: 15px;
                color: white;
                border-radius: 5px;
                padding: 2px 10px;
                font-weight: 400;
                font-size: 14px;
                background: #cc1205;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .description {
                display: flex;
                flex-direction: column;
                .title {
                    font-weight: 600;
                    opacity: 0.7;
                }

                .prices {
                    display: flex;
                    gap: 5px;

                    .orignalprice {
                        font-size: 22px;
                        font-weight: 600;
                        opacity: 0.8;
                    }

                    .currentprice {
                        font-size: 16px;
                        opacity: 0.5;
                        font-weight: 700;
                        text-decoration: line-through;
                    }
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                button {
                    padding: 10px 12px;
                    background: #212831;
                    color: white;
                    border-radius: 5px;
                }
            }
        }
    }
}
