.accountuserwrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        font-size: 24px;
        font-weight: 500;
        opacity: 0.8;
    }

    .accountuser {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            font-size: 18px;
            opacity: 0.9;
            font-weight: 600;

            span {
                font-size: 16px;
                font-weight: 600;
                opacity: 0.6;
            }
        }

        .accountuserbtns {
            display: flex;
            gap: 20px;
            button {
                align-self: flex-start;
                padding: 15px;
                color: white;
                border-radius: 10px;

                font-weight: 700;
            }
        }
    }

    .trackorderuser {
        margin-top: 0px;

        .trackorderuserwrapper {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 20px;

            .ordertracker {
                padding: 20px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                gap: 10px;
                cursor: pointer;

                .ticketpart {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .ticketicons {
                        .ticketicon {
                            font-size: 50px;
                            opacity: 0.8;
                        }
                    }
                    .leftticket {
                        flex: 1;

                        p {
                            font-size: 14px;
                            font-weight: 500;
                            opacity: 0.7;
                        }

                        span {
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    button {
        background: #000;
        width: 7rem;
        height: 3rem;
        color: white;
        border-radius: 0.5rem /* 8px */;
        font-weight: 700;
        margin-top: 11rem /* 176px */;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    .accountuserwrapper {
        h1 {
            font-size: 18px;
        }
        .accountuser {
            p {
                font-size: 14px;
                span {
                    font-size: 12px;
                }
            }
        }

        .trackorderuser {
            .trackorderuserwrapper {
                grid-template-columns: repeat(3, minmax(0, 1fr));
                .ordertracker {
                    .ticketpart {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .ticketicons {
                            .ticketicon {
                                font-size: 40px;
                            }
                        }
                        .leftticket {
                            p {
                                font-size: 10px;
                            }

                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        button {
            width: 6rem;
            height: 2.5rem;
            font-size: 14px;
        }
    }
}

@media (max-width: 425px) {
    .accountuserwrapper {
        h1 {
            font-size: 16px;
        }
        .accountuser {
            p {
                font-size: 12px;
                span {
                    font-size: 10px;
                }
            }
        }

        .trackorderuser {
            .trackorderuserwrapper {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        button {
            width: 5rem;
            height: 2rem;
            font-size: 12px;
        }
    }
}

@media (max-width: 425px) {
    .accountuserwrapper {
        h1 {
            font-size: 16px;
        }
        .accountuser {
            p {
                font-size: 12px;
                span {
                    font-size: 10px;
                }
            }
        }

        .trackorderuser {
            .trackorderuserwrapper {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}
